<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="func3Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3664/func3.asmx" binding="basicHttpBinding"
                bindingConfiguration="func3Soap" contract="ServiceReference1.func3Soap"
                name="func3Soap" />
        </client>
    </system.serviceModel>
</configuration>